* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    transition: 0.3s;
    font-size: 1.2rem;
}

.main {
    border: 2px solid black;
    width: 650px;
    height: 400px;
    padding: 20px;
    margin:30px auto;
    background-color: rgb(255, 255, 231);
}

input {
    width: 100%;
    height: 2em;
    border: 0;
    padding: 10px;
    font-size: 0.8rem;
    transform: translate(0, 15%);
    color: rgb(61, 61, 69);
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: black;
    font-size: 0.8rem;
}

button {
    margin: auto;
    width: 120px;
    font-weight: bold;
    border: 1px solid rgb(209, 207, 207);
    display: block;
    border-radius: 4px;
    padding: 6px 10px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 168);
}

span {
    float: right;
    position: relative;
    top: 6px;
    right: 180px;
    color: red;
    direction: rtl;
    font-size: 0.8rem;
}

fieldset {
    width: 274px;
    height: 52px;
    border: 2px solid black;
    border-radius: 4px;
    margin: auto;
    padding: 4px;
    background-color: white;
}

legend {
    font-size: 0.8rem;
    color: black;
    margin-bottom: -10px;
    margin-right: 10px;
}

span {
    display: none;
    animation: tilt-shaking 0.3s ease-in-out;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
